@model EventsVM

<div class="text-center">
    <h1 class="display-4">Events</h1>
</div>

<table class="table table-hover table-primary table-bordered">
    <thead>
        <tr>
            <th scope="col">Tittle</th>
            <th scope="col">Start date</th>
            <th scope="col">End Date</th>
            <th scope="col">Capacity</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            var isSigned = Model.EventParticipants.Any(x => x.UserId == Model.UserId && x.EventId == item.Id);
            <tr>
                <td>@item.Title</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@(Model.EventParticipants.Count(x => x.EventId == item.Id && x.Status == AssignmentStatus.Accepted))/@(item.Capacity)</td>
                <td class="text-center">
                    @if (isSigned)
                    {
                        <button type="button" onclick="signOut('@Model.UserId')" class="btn btn-lg btn-warning">Sign out</button>
                    }
                    else
                    {
                        <button type="button" onclick="signIn('@item.Id')" class="btn btn-lg btn-success">Sign in</button>
                    }
                    <a asp-area="Customer" asp-controller="EventDetails" asp-action="Index" asp-route-eventId="@item.Id" class="btn btn-lg btn-secondary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
        function signIn(id) {
            $.ajax({
                type: 'POST',
                url: '/Customer/EventParticipants/SignIn',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { eventId: id },
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }

        function signOut(id) {
            $.ajax({
                type: 'DELETE',
                url: '/Customer/EventParticipants/SignOut',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { userId: id },
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }
    </script>
}