@model List<Event>

<div class="text-center">
    <h1 class="display-4">Event Participants</h1>
</div>

<table class="table table-hover table-primary table-bordered">
    <thead>
        <tr>
            <th scope="col">Tittle</th>
            <th scope="col">Start date</th>
            <th scope="col">End Date</th>
            <th scope="col">Capacity</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.Capacity</td>
                <td class="text-center">
                    <button type="button" onclick="signIn('@item.Id')" class="btn btn-lg btn-success">Sign in</button>
                    <a asp-area="Customer" asp-controller="EventDetails" asp-action="Index" asp-route-eventId="@item.Id" class="btn btn-lg btn-secondary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
        function signIn(id) {
            $.ajax({
                type: 'POST',
                url: '/Customer/EventParticipants/SignIn',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { eventId: id }, // data should be pass as object
                success: function (result) {
                    alert('Successfully applied');
                },
                error: function(e) {
                    alert('Failed to apply', e);
                }
            })
        }
    </script>
}