@model List<EventParticipant>

@{
    var applied = Model.Where(x => x.Status == AssignmentStatus.Applied).ToList();
    var accepted = Model.Where(x => x.Status == AssignmentStatus.Accepted).ToList();
    var reserved = Model.Where(x => x.Status == AssignmentStatus.Reserve).ToList();
    var declined = Model.Where(x => x.Status == AssignmentStatus.Declined).ToList();
}

<table id="participants_table" class="table table-hover table-primary table-bordered">
    <thead>
    <tr>
        <th scope="col">First name</th>

        <th scope="col">Last name</th>

        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    @if (applied.Any())
    {
        <tr class="table-info">
            <td colspan="3" class="text-center">Applied</td>
        </tr>

        @foreach (var item in applied)
        {
            <tr>
                <td>@item.User?.FirstName</td>

                <td>@item.User?.LastName</td>

                <td class="text-center">
                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Accepted))" class="btn btn-lg btn-success">Accept</button>

                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Reserve))" class="btn btn-lg btn-warning">Add to reserve</button>

                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Declined))" class="btn btn-lg btn-danger">Decline</button>
                </td>
            </tr>
        }
    }
    @if (accepted.Any())
    {
        <tr class="table-success">
            <td colspan="3" class="text-center">Accepted</td>
        </tr>

        @foreach (var item in accepted)
        {
            <tr>
                <td>@item.User?.FirstName</td>

                <td>@item.User?.LastName</td>

                <td class="text-center">
                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Reserve))" class="btn btn-lg btn-warning">Add to reserve</button>

                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Declined))" class="btn btn-lg btn-danger">Decline</button>
                </td>
            </tr>
        }
    }
    @if (reserved.Any())
    {
        <tr class="table-warning">
            <td colspan="3" class="text-center">Reserved</td>
        </tr>

        @foreach (var item in reserved)
        {
            <tr>
                <td>@item.User?.FirstName</td>

                <td>@item.User?.LastName</td>

                <td class="text-center">
                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Accepted))" class="btn btn-lg btn-success">Accept</button>

                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Declined))" class="btn btn-lg btn-danger">Decline</button>
                </td>
            </tr>
        }
    }
    @if (declined.Any())
    {
        <tr class="table-danger">
            <td colspan="3" class="text-center">Declined</td>
        </tr>

        @foreach (var item in declined)
        {
            <tr>
                <td>@item.User?.FirstName</td>

                <td>@item.User?.LastName</td>

                <td class="text-center">
                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Accepted))" class="btn btn-lg btn-success">Accept</button>

                    <button type="button" onclick="changeParticipationStatus(@item.Id, @((int)AssignmentStatus.Reserve))" class="btn btn-lg btn-warning">Add to reserve</button>
                </td>
            </tr>
        }
    }
    </tbody>
</table>