@model EventDetailsVM

@inject UserManager<IdentityUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
    var isSigned = Model.Participants?.FirstOrDefault(x => x.UserId == userId);
}

<div>
    <h2>
        @Model.Event.Title
    </h2>

    <a class="btn btn-secondary" asp-area="Customer" asp-controller="EventParticipants" asp-action="Index"><i class="bi bi-arrow-left"></i> Back to List</a>
    @if (isSigned is not null)
    {
        <button type="button" onclick="signOut('@userId', '@Model.Event.Id')" @Html.DisabledIf(isSigned.Status == AssignmentStatus.Declined) class="btn btn-lg btn-warning">Sign out</button>
    }
    else
    {
        <button type="button" onclick="signIn('@Model.Event.Id')" @Html.DisabledIf(Model.IsFull) class="btn btn-lg btn-success">Sign in</button>
    }
</div>

<div class="container">
    @Html.Raw(Model.Event.Description)
</div>


@if (User.IsInRole(SD.Role_Admin) && Model.Participants != null)
{
    <partial id="event-participants-table-pv" name="_EventParticipantsTable" model="Model.Participants"/>
}

@section Scripts {
    <script type="text/javascript">
        const successKey = 'successKey';
        const infoKey = 'infoKey';
        
        $(document).ready(function () {
          successInfo(infoKey, successKey);
        });
    
        function changeParticipationStatus(participationId, status) {
            $.ajax({
                type: 'PUT',
                url: '/Customer/EventDetails/ChangeParticipationStatus',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { participationId: participationId, status: status },
                success: function (result) {
                    sessionStorage.setItem(successKey,"true");
                    sessionStorage.setItem(infoKey, result.message);
                    location.reload();
                },
                error: function (error) {
                    toastr.error($.parseJSON(error.responseText).message);
                }
            })
        }

        function signIn(id) {
            $.ajax({
                type: 'POST',
                url: '/Customer/EventParticipants/SignIn',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { eventId: id },
                success: function (result) {
                    sessionStorage.setItem(successKey,"true");
                    sessionStorage.setItem(infoKey, result.message);
                    location.reload();
                },
                error: function (error) {
                    toastr.error($.parseJSON(error.responseText).message);
                }
            })
        }

        function signOut(userId, eventId) {
            $.ajax({
                type: 'DELETE',
                url: '/Customer/EventParticipants/SignOut',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { userId: userId, eventId: eventId },
                success: function (result) {
                    sessionStorage.setItem(successKey,"true");
                    sessionStorage.setItem(infoKey, result.message);
                    location.reload();
                },
                error: function (error) {
                    toastr.error($.parseJSON(error.responseText).message);
                }
            })
        }
    </script>
}